@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');


body {
  margin: 0;
  font-family: "Teachers", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #225490; */
  color: #ffffff;
}

code {
  font-family: "Teachers", sans-serif;
}
